@import url('photographer.css');
@import url('media.css');

/* #################### Common #################### */

:root {
    --color-primary: #901c1c;
    --color-secondary: #d3573c;
    --color-tertiary: #db8876;
    --color-gray-text: #525252;
    --color-dark-gray-text: #312e2e;
    --color-gray-background: #fafafa;
    --photographer-pic-size: 200px;
    --zoomable-grow-effect: 125%;
}

* {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
}

#page_with-horizontal-margin {
    margin: 0 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#logo img {
    height: 50px;
}

#page-title {
    color: var(--color-primary);
    font-size: 36px;
}

.photographer_name {
    color: var(--color-secondary);
    font-size: 36px;
}

.photographer_tagline {
    font-weight: bold;
    font-size: 10px;
}

.photographer_location {
    color: var(--color-primary);
    font-size: 13px;
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: color, background-color;
}

.button:hover {
    background-color: var(--color-secondary);
    color: black;
}

.button_2 {
    transition-duration: 300ms;
    transition-property: transform;
}

.button_2:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.button_2:active {
    cursor: pointer;
    transform: scale(0.75);
}

.zoomable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 200ms;
    transition-property: width, height;
}
