@import url('photographer.css');

/* #################### Common #################### */

:root {
    --color-primary: #901c1c;
    --color-secondary: #d3573c;
    --color-gray-text: #525252;
    --color-gray-background: #fafafa;
    --photographer-pic-size: 200px;
    --debug-border: dashed red; /*à supprimer à la fin*/
}

* {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Page title*/
h1 {
    color: var(--color-primary);
    font-size: 36px;
}

/*Photographer name*/
h2 {
    color: var(--color-secondary);
    font-size: 36px;
}

/*Photographer tagline*/
h3 {
    font-weight: bold;
    font-size: 10px;
}

#logo img {
    height: 50px;
}

.photographer_location {
    color: var(--color-primary);
    font-size: 13px;
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}

/* #################### Photographer list #################### */

#photographer_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_card {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_card a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_thumbnail-container {
    position: relative;
    height: var(--photographer-pic-size);
    width: var(--photographer-pic-size);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12px;
}

.photographer_thumbnail-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.photographer_card a:hover img {
    width: 125%;
    height: 125%;
}

.photographer_card h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.photographer_card .photographer_price {
    color: var(--color-gray-text);
    font-size: 9px;
}
